.login {
  height: 100vh;
  background-color: ;
  display: flex;
  align-items: center;
  justify-content: center;
  .auth_card {
    .auth-left {
      h1 {}
      p {}
      span {}
      button {}
    }
    .auth-right {
      h1 {}
      form {
        input {}
        botton {}
      }
    }
  }
}